# CubeIDE builds & settings
firmware/**/Debug/
firmware/**/Release/
firmware/**/.settings/
firmware/**/.metadata/
*.launch

# CubeMX generated backups
*.ioc-bak

# Object files / binaries
*.o
*.d
*.elf
*.map
*.bin
*.hex
*.list

# Build and coverage directories
build*/
/coverage/

# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Misc
.DS_Store
Thumbs.db

# VSCode / editors
.vscode/
*.swp

# Host Logs
/data/